<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BootStrap</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
    <style type="text/css">
      p {font-family: "Corbel",Verdana, Arial, Helvetica, sans-serif;
        padding-top: 10px;}
      .tag{padding-top: 5px;}
      .tag span {margin-right: 5px;}
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">拉钩网数据分析展示</h1>
      <div class="col-sm-6 col-sm-offset-3">
        <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Python" size="50" name="search">
              <div class="input-group-btn">
                  <input type="submit" name="submit" class="btn btn-default">
              </div>
            </div>
      </form>
      <p>你可以尝试搜索下列标签：</p>
      <div class="tag">
        <span class="label label-danger">Python</span>
        <span class="label label-default">Java</span>
        <span class="label label-info">C++</span>
        <span class="label label-primary">C</span>
        <span class="label label-success">PHP</span>
        <span class="label label-warning">Android</span>
        <span class="label label-default">iOS</span>
      </div>
      </div>
      
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {{data|safe}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {{pie_chart|safe}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {{line_chart|safe}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {{location_chart|safe}}
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
